<!DOCTYPE html>
<html>
<head>
  <title>Cycling weather app</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body onload="init()" ng-app="App">
<%= yield %>
</body>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.8.0/lodash.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/async/0.9.0/async.js"></script>
<!--
<script src="http://rsvpjs-builds.s3.amazonaws.com/rsvp-latest.min.js"></script>

<script src="https://cdn.firebase.com/js/client/2.2.5/firebase.js"></script>

<script src="https://cdn.firebase.com/libs/geofire/3.2.2/geofire.min.js"></script>
-->

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
