<p id="notice"><%= notice %></p>
<% if current_user %>
<h1>Listing Devices</h1>

<table>
  <thead>
    <tr>
      <th>Device</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.device_id, device %></td>
        <td><%#= link_to 'Edit', edit_device_path(device) %></td>
        <td><%#= link_to 'Destroy', device, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Device', new_device_path %>
<% else %>
<p>
You must be signed in to view devices!
</p>
<%= link_to 'Sign in', signin_path %></td>
<% end %>
