html, body {
    height: 100%;
    width: 100%;
}

#map-canvas {
    height: 100%;
    width: 100%;
}

.container-map  {
    height:100%;
    width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.navbar {min-height:55px !important;}