html, body {
    height: 100%;
    width: 100%;
}

#map_canvas {
    height: calc(100% - 50px);;
    width: 100%;
}

.container-map {
    height: calc(100% - 50px);
    width: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.container-fluid {
    overflow: auto;
    max-height: 300px;
}

body {
    padding-top: 50px;
}

#map_canvas {
    position:absolute;
}

.temperature {
    position: fixed;
    width: 200px;
    right: 20px;
    top: 70px;
    background-color:lightgray;
    display: none;
}
.big-icon {
    font-size: 150%;
}
.big-icon-padding {
    padding: 2px 12px 0px;
}
