<div ng-controller="HomeController" class="view-container"  >
  <div  class="view-frame animate-view">

    <div id="content">

      <nav class="navbar navbar-default navbar-fixed-top">
        <div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#directions"> <span class="glyphicon glyphicon-sort-by-alphabet"></span></button>

            <a class="navbar-brand" href="/">CWA</a>
          </div>
          <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <form  class="navbar-form navbar-left" role="form" id="routingForm">
              <div class="form-group">
                <input type="text" ng-model="routeStart" name="origin"  class="form-control" placeholder="Origin">
                <input type="text" ng-model="routeEnd" name="destination" class="form-control" placeholder="Destination">
              </div>
              <button ng-click="calcRoute()" class="btn btn-default btn-info" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Route
              </button>
            </form>
            <button type="button" class="glyphicon glyphicon-sort-by-alphabet btn btn-warning navbar-btn big-icon big-icon-padding" data-toggle="collapse" data-target="#directions"></button>
            <div class="btn-group" data-toggle="buttons">
              <label>
                <span class="glyphicon glyphicon-asterisk btn btn-warning navbar-btn big-icon big-icon-padding"></span>
              </label>
              <label ng-controller="MarkerController as markers" ng-click="hideAllTempMarkers()">
                <span class="glyphicon glyphicon-dashboard btn btn-warning navbar-btn big-icon big-icon-padding"  id="temperature"></span>
              </label>
              <label ng-controller="BikeOverlayController as bikeOverlay" ng-click="toggleBikeOverlay()">
                <span class="glyphicon glyphicon-transfer btn btn-warning navbar-btn big-icon big-icon-padding"  id="bikeOverlay"></span>
              </label>
            </div>
            <button type="button" class="btn btn-default btn-info big-icon big-icon-padding" data-placement="bottom" data-toggle="popover">
              <span class="glyphicon glyphicon-question-sign "></span>
            </button>
          </div>
        </div>
        <div  class="collapse container-fluid"  id="directions"> <button type="button"  class="glyphicon glyphicon-print btn btn-warning navbar-btn big-icon big-icon-padding" onclick="printDiv('directions')"/></div>
      </nav>

      <div class="container-map">
        <div ng-model="map"id="map_canvas"></div>
        <div class="temperature" id="weather"></div>
      </div>

      <div id="popover_content_wrapper" style="display: none">
        <div>
          <p>
            <span class="glyphicon glyphicon-asterisk big-icon"></span> Particulates visualization
          </p>
          <p>
            <span class="glyphicon glyphicon-dashboard big-icon"></span> Temperature visualization
          </p>
        </div>


      </div>
    </div>
  </div>
</div>
